html {
  scroll-behavior: smooth
  
}

body {
  font-family: 'Lato', sans-serif;

}

.container {
  padding-top: 15px !important;
}

.par-padding-left {
  padding-left: 30px;
  
}

.par-padding-right {
  padding-right: 30px;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

h1 {
  padding-top: 15px;
  padding-bottom: 15px;
}
h2 {
  padding-top: 10px;
}
h3 {
  padding-bottom: 20px;
}
h5 {
  margin-left: 2px;
}

p { 
  color: #4E8397;
}

.card-class {
    width: 18rem;
    padding-top: 10px;
}

.quotes .page-header {
    margin-bottom: 25px;
}