html {
  scroll-behavior: smooth;
 font-family: 'Lato', sans-serif;
}

body {
  font-weight: 600;
  line-height: 2.5rem;
  font-size: 1rem;
}
nav a:hover {
  background-color: #db441f;
}

title {
  margin-top: 50px;
}

#intro-image {
    background: url(../images/background.jpg) no-repeat center 75%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
  padding-top: 15px !important;
}

.par-padding-left {
  padding-left: 30px;
  
}

.par-padding-right {
  padding-right: 30px;
}



h1 {
  margin-top: 50px;
  text-align: center;
}
h2 {
 margin-top: 50px;
}

h3 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
h5 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#intro-image p {
  color: #fff;
}  

p { 
  color: #4B4453;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card-class {
    width: 18rem;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-class img:hover{
  height:410px;
  width:320px ;
}

img { 
  margin-top: 50px;
  margin-bottom: 50px;
}

.block-divider {
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #db441f;
    margin-top: 50px;
    margin-bottom: 50px;
}
.quotes {
    margin-bottom: 50px;
    margin-top: 50px;
}

section {
  text-align: center;
  color: #4B4453;
}

footer {
    background-color: #db441f;
    color: #fff;
    min-height: 120px;
    margin: 0;
}

#footer-details {
    padding: 20px;
}
