html {
  scroll-behaviour: smooth;
  font-family: 'Lato', sans-serif;
}

body {
  font-weight: 600;
  line-height: 2.5rem;
  font-size: 1rem;
}
.bg-light {
    background-color: #fff;
    position: fixed;
}

nav a:hover {
  background-color: #F37748;
  color: #4B4453;
}

a:nav-link {
  background-color: #F37748;
  color: #4B4453;
}
title {
  margin-top: 50px;
}

#intro-image {
  background: linear-gradient(to bottom, rgba(34, 143, 255, 0.4) 0%, rgba(79, 70, 87, 0.3) 100%), url(../images/background.jpg) no-repeat center 75%;
  background-size: cover;
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.container {
  padding-top: 15px
}

.par-padding-left {
  padding-left: 30px;

}

.par-padding-right {
  padding-right: 30px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
#intro-image h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px #F37748;
}

#intro-image p {
  color: #fff;
}

p {
  color: #4B4453;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card-class {
  width: 18rem;
  padding-top: 50px;

}

.card-class img:hover {
  opacity: 0.3;
}

img {
  margin-top: 50px;
  margin-bottom: 50px;
}

.block-divider {
  width: 150px;
  height: 5px;
  border: 0;
  background-color: #F37748;
  margin-top: 50px;
  margin-bottom: 50px;
}

.quotes {
  margin-bottom: 50px;
  margin-top: 50px;
}

section {
  color: #4B4453;
  text-align: center;
}

footer {
  background-color: #F37748;
  color: #fff;
  min-height: 120px;
  margin: 0;
}

#footer-details {
  padding: 20px;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.footer-details {
  background: #3B5998;
  color: white;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  color: #fafafa;
  background: transparent;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #4B4453;
}
